{% extends 'news/base.html' %}
{% load cms_tags sekizai_tags static thumbnail %}

{% block app_content %}

  {% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% static 'attractions/css/lightgallery.min.css'%}" />
  {% endaddtoblock %}
  {% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% static 'attractions/css/lg-transitions.min.css'%}" />
  {% endaddtoblock %}
  {% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% static 'attractions/css/lg-fb-comment-box.min.css'%}" />
  {% endaddtoblock %}
  {% addtoblock "js" %}
  <script defer type="text/javascript" src="{% static 'attractions/js/lightgallery.min.js' %}"></script>
  {% endaddtoblock %}
  {% addtoblock "js" %}
  <script defer type="text/javascript" src="{% static 'attractions/js/lg-thumbnail.min.js' %}"></script>
  {% endaddtoblock %}


  <div class="row">

    <div class="col ftco-animate">

      {% render_model_block object %}

        {% if main_image or main_video %}

          <div class="row">
            <div class="col text-center">
              {% if main_image %}
                {% spaceless %}
                <div id="gallery-{{object.id}}" class="light-gallery-plugin img w-100">
                    <a href="{{ main_image.image.url }}" class="d-block w-100">
                        <img class="img-fluid" src="{% thumbnail main_image.image "585x500" upscale autocrop %}" >
                    </a>

                    {% if images %}
                      {% for image in images %}
                          <a href="{{ image.image.url }}">
                              <img src="{% thumbnail image.image "280x280" upscale crop %}" style="margin:5px;" />
                          </a>
                      {% endfor %}
                    {% endif %}
                </div>
                {% endspaceless %}

                {% addtoblock "js" %}
                <script type="text/javascript">
                window.addEventListener('load', function() {
                    $("#gallery-{{object.id}}").lightGallery({
                    mode: "lg-slide",
                    speed: 500,
                    })//;
                });
                </script>
                {% endaddtoblock %}

              {% endif %}

              {% if main_video %}
                <iframe src="{{ main_video.video_url }}"  
                    width="100%"
                    height="280"
                    frameborder="0" allowfullscreen="true"
                ></iframe>
                {% if videos %}
                  {% for video in videos %}
                    <iframe src="{{ video.video_url }}"  
                        width="280"
                        height="280"
                        frameborder="0" allowfullscreen="true"
                    ></iframe>
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
            <div class="col">
              {{ object.text | safe }}
            </div>
          </div>



        {% else %}
        
          {{ object.text | safe }}

        {% endif %}


      {% endrender_model_block %}

  </div>

{% endblock %}