<p>
    <span class="border p-2">
    {% if attraction.work_in_summer and attraction.work_in_winter %}
        Летом и зимой
    {% elif not attraction.work_in_summer and not attraction.work_in_winter %}
        Временно не работает
    {% elif attraction.work_in_summer %}
        Летний сезон
    {% elif attraction.work_in_winter %}
        Зимний сезон
    {% endif %}
    </span>
</p>
<p class="subheading">
    <span>Цена:</span> 
    {% if attraction.price == attraction.price_kid %}
        {{ attraction.price }} руб/билет
    {% else %}
        дети - {{attraction.price_kid}} руб./билет, взрослые - {{attraction.price}} руб./билет
    {% endif %}
</p>
<p class="subheading">
    <span>Время проката:</span> {% if attraction.rental_time %}{{ attraction.rental_time }} минут{% else %}не ограничено{% endif %}
</p>
<p><span><u>Ограничения:</u></span></p><p class="lh-sm"> {{ attraction.restrictions }}</p>