{% load cms_tags sekizai_tags thumbnail static %}

  {% if user.is_authenticated %}
  <div class="row d-flex justify-content-end pb-4 pe-3">
    {% render_model_add attraction_list.0 %}
  </div>
  {% endif %}

  <div class="row">
    {% for attraction in attraction_list %}
      <div class="col-md-6 catalog-item d-lg-flex ftco-animate">

        <div class="img " style="background-image: url({{attraction.main_photo.url}});"></div>

        <div class="text bg-light p-4">
          <h3><a href="{% url 'attractions:detail' attraction.id %}">{{ attraction.title }}</a></h3>
          <p class="subheading">
            <span>Цена:</span> 
              {% if attraction.price == attraction.price_kid %}
                {{ attraction.price }} руб/билет
              {% else %}
                дети - {{attraction.price_kid}} руб./билет, взрослые - {{attraction.price}} руб./билет
              {% endif %}
          </p>
          <p class="subheading">
            <span>Время проката:</span> {% if attraction.rental_time %}{{ attraction.rental_time }} минут{% else %}не ограничено{% endif %}
          </p>
          <p><span><u>Ограничения:</u></span></p><p class="lh-sm"> {{ attraction.restrictions }}</p>

        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row">
  <div class="col">
    <a href="{% url 'attractions:index' %}" class="btn btn-outline-primary btn-lg py-3 my-3 w-100">
      Смотреть все
    </a>
  </div>
  </div>
