{% load i18n static %}

						{% comment %} <div class="heading-section heading-section-white ftco-animate mb-5">
							<h2 class="mb-4">Request A Quote</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div> {% endcomment %}

{% if form %}
	<form action="." method="post" class="appointment-form ftco-animate">
        {% for field in form %}
			<div class="form-group">
            {% if  field.name != 'pd_agreement' and field.name != 'captcha' and field.name != 'accept_terms' %}
                <p{% if field.errors %} class="error"{% endif %}>
				<p>
                    {% comment %} {{ field.label_tag }} {% endcomment %}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="error_msg">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </p>
            {% endif %}
			</div>
        {% endfor %}

		{% if form.accept_terms %}
			{{ form.accept_terms }}
		{% endif %}

		{% if form.pd_agreement %}
			{{ form.pd_agreement }} {{ form.pd_agreement.label_tag }}
		{% endif %}

		{% if form.captcha %}
			{{ form.captcha }}
		{% endif %}

		<p>
			<input class="btn btn-secondary py-3 px-4 mt-2" type="submit"{% if contact.submit %} value="{{ contact.submit }}"{% endif %} />
		</p>
		
		{% csrf_token %}
	</form>

{% else %}
	{{ contact.thanks|safe }}
{% endif %}
